@using OShop.Logic.Shop.ViewModels
@model ProductsListViewModel

@{
    ViewBag.Title = Model.CurrentCategory;
}

@if (Model.CurrentCategory != null)
{
    <h1>@Html.DisplayFor(model => model.CurrentCategory)</h1>
}
else
{
    <h1>Alla produkter</h1>
}

<div>
    

        @foreach (var p in Model.Products)
        {
        
            @Html.Partial("ProductSummary", p);

        }

    
</div>
