@model OShop.Logic.Cart.ShoppingCart

<div class="navbar-right" style="color: #d8d8d8;">
    Din kundvagn innehåller: <br />
    @Model.GetCartItems.Sum(x => x.Qty) vara/varor <br />
    @Model.GetCartTotal().ToString() kr
</div>


