@model OShop.Logic.Cart.ShoppingCartViewModel
@using OShop.Web.HtmlHelpers

@{
    ViewBag.Title = "Din kundvagn";
    Layout = "~/Views/Shared/_LayoutWithoutCartSummary.cshtml";
}

<h1>Din kundvagn</h1>

@if (Model.Cart.IsEmpty)
{
    <p>Din kundvagn är tom.</p>

    <a class="btn btn-primary" href="@Model.ReturnUrl">Fortsätt handla</a>
}
else
{


    @Html.Action("LargeCartSummary", "ShoppingCart")



    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Fortsätt handla</a>
        @Html.ActionLink("Till kassan", "Checkout", null, new { @class = "btn btn-primary" })
    </div>

}



