
@{
    ViewBag.Title = "OrderRejected";
    Layout = "~/Views/Shared/_LayoutWithoutCartSummary.cshtml";
}

<h1>Oooops!</h1>

<p>Din betalning blev tyvärr inte godkänd. Var vänlig <a href="~/ShoppingCart/Checkout/">försök igen</a>.</p>

